<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:cxf="http://cxf.apache.org/core" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.zkfuse.webservice" />

    <import resource="classpath:spring/applicationContext-untoken-x509-sym-server.xml" />
    <import resource="classpath:spring/applicationContext-untoken-x509-sym-client.xml" />

    <import resource="classpath:spring/applicationContext-untoken-hashed-password-server.xml" />
    <import resource="classpath:spring/applicationContext-untoken-hashed-password-client.xml" />

    <import resource="classpath:spring/applicationContext-untoken-x509-asym-server.xml" />
    <import resource="classpath:spring/applicationContext-untoken-x509-asym-client.xml" />

    <import resource="classpath:spring/applicationContext-x509-asym-client.xml" />
    <import resource="classpath:spring/applicationContext-x509-asym-server.xml" />

    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

    <cxf:bus>
        <cxf:features>
            <cxf:logging/>
        </cxf:features>
    </cxf:bus>

</beans>